@using AkademiQMongoDb.DTOs.CategoryDtos
@using AkademiQMongoDb.DTOs.ProductDtos
@model (List<ResultCategoryDto> Categories, List<ResultProductDto> Products)

<!-- Start Menu 
============================================= -->
<div class="menu-style-five-area default-padding bg-cover" style="background-image: url(/source/assets/img/shape/3.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="thumb-style-two">
                    <div class="fun-fact-style-two mb-40">
                        <div class="icon">
                            <img src="~/source/assets/img/icon/2.png" alt="Image Not Found">
                        </div>
                        <div class="fun-fact">
                            <div class="counter">
                                <div class="timer" data-to="500" data-speed="2000">500</div>
                                <div class="operator">+</div>
                            </div>
                            <span class="medium">Menü Çeşitliliği</span>
                        </div>
                    </div>
                    <img class="wow fadeInLeft" src="~/source/assets/img/thumb/6.jpg" alt="Image Not Found">
                </div>
            </div>
            <div class="col-xl-6 offset-xl-1 col-lg-6">
                <h4 class="sub-heading">Yemeklerimiz</h4>
                <h2 class="title split-text">Özel Lezzetler & Menüler</h2>
                <div class="food-menu-style-five-items mt-65 wow fadeInUp">

                    <ul class="nav nav-tabs food-menu-five-navs" id="myTab" role="tablist">
                        @for (int i = 0; i < Model.Categories.Count; i++)
                        {
                            var category = Model.Categories[i];
                            var isActive = i == 0 ? "active" : "";
                            <li class="nav-item" role="presentation">
                                <button class="nav-link @isActive" id="tab_@category.Id" data-bs-toggle="tab" data-bs-target="#tabs_@category.Id" type="button" role="tab" aria-controls="tabs_@category.Id" aria-selected="@(i==0 ? "true" : "false")">
                                    @category.Name
                                </button>
                            </li>
                        }
                    </ul>

                    <div class="tab-content" id="myTabContent">
                         @for (int i = 0; i < Model.Categories.Count; i++)
                         {
                            var category = Model.Categories[i];
                            var isActive = i == 0 ? "show active" : "";
                            var categoryProducts = Model.Products.Where(p => p.CategoryName == category.Name).ToList();

                            <div class="tab-pane fade @isActive" id="tabs_@category.Id" role="tabpanel" aria-labelledby="tab_@category.Id">
                                <ul class="meal-items style-two">
                                    @if(categoryProducts.Count > 0)
                                    {
                                        @foreach (var product in categoryProducts)
                                        {
                                            <li>
                                                <div class="content">
                                                    <div class="top">
                                                        <div class="title">
                                                            <h4><a href="#">@product.Name</a></h4>
                                                        </div>
                                                        <div class="price">
                                                            <span>@product.Price.ToString("C")</span>
                                                        </div>
                                                    </div>
                                                    <div class="bottom">
                                                        <div class="left">
                                                            <p>
                                                                @product.Description
                                                            </p>
                                                        </div>
                                                        <div class="right">
                                                            <a href="/Basket/AddToBasket?productId=@product.Id" class="btn-circle btn-theme btn-xs">
                                                                <i class="fas fa-shopping-cart"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        <li>Bu kategoride ürün bulunamadı.</li>
                                    }
                                </ul>
                            </div>
                         }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Menu -->
