@model List<ResultProductDto>

@*
  Default Products
*@

<div class="validtheme-shop-area default-padding text-center">
    <div class="shape-seperate">
        <img src="/source/assets/img/shape/14.png" alt="Image Not Found">
        <img src="/source/assets/img/shape/15.png" alt="Image Not Found">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h4 class="sub-title">Süpppperr Fiyat</h4>
                    <h2 class="title split-text">Efsane Lezzetlerimiz</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="vt-products columns-4">

                    @foreach (var item in Model)
                    {
                        <!-- Single product -->
                        <li class="product wow fadeInUp" data-wow-delay="200ms">
                            <div class="product-contents">
                                <div class="product-image">
                                    <span class="onsale">Sale!</span>
                                    <a href="shop-single.html">
                                        <img src="@item.ImageUrl" alt="Product">
                                    </a>
                                    <div class="shop-action">
                                        <ul>
                                            <li class="cart">
                                                <a href="#"><span>Add to Cart</span></a>
                                            </li>
                                            <li class="quick-view">
                                                <a href="#"><span>Quick view</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-caption">
                                    <div class="product-tags">
                                        <a href="#">@item.CategoryName</a>
                                    </div>
                                    <h4 class="product-title">
                                        <a href="shop-single.html">@item.Name</a>
                                    </h4>
                                    <div class="price">
                                        <span><del>$ @(item.Price * 1.2m)</del></span>
                                        <span>$ @item.Price</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- Single product -->
                    }

                </ul>
            </div>
        </div>
    </div>
</div>

